<% @events.each do |event| %>
  <tr>
	<td><%= event.Age_Category %></td>
	<td><%= event.Time %></td>
	<td><%= event.Date %></td>
	<td><%= event.Location %></td>
	<td><%= event.Opponent %></td>
	<td><%= link_to 'Show', event %></td>
	<td><%= link_to 'Edit', edit_event_path(event) %></td>
	<td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>