<div id= "right_box">
<h1>Listing Players Profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>D.O.B</th>
    <th>Age category</th>
    <th>Picture</th>
  </tr>

<% @players_profiles.each do |players_profile| %>


  <tr>
    <td><%= players_profile.name %></td>
    <td><%= players_profile.date_of_birth %></td>
    <td><%= players_profile.age_category %></td>
    <td><%= image_tag players_profile.pic.url %></td>
    <td><%= link_to 'Show', players_profile %></td>
</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Players profile', new_players_profile_path %>
<br><br>
</div>
<br><br>