<div id= "right_box">
<h1>Welcome to the Admin Panel
<p>You can Add/Edit/Delete Events and</p>
<p>You can Add/Edit/Delete Bookings</p></h1>
<%= link_to "Events", events_path %><br><br>
<%= link_to "Bookings", pitch_bookings_path %><br><br>
<%= link_to "Newsletters", new_newsletter_st_micahels_gfc_path  %><br><br>
<%= link_to "Newsletters Sign Up", sign_up_newsletters_path  %><br><br>
<%= link_to "Teams", new_players_profile_path %>
<br><br>
</div>
<br><br>