<div id= "right_box">
<h1>Upcoming Events</h1>

<table>
  <tr>
    <th>Age Category</th>
    <th>Time</th>
    <th>Date</th>
    <th>Location</th>
    <th>Opponent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.Age_Category %></td>
    <td><%= event.Time %></td>
    <td><%= event.Date %></td>
    <td><%= event.Location %></td>
    <td><%= event.Opponent %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %><br><br>
<%= link_to 'Back', admin_path %>
<br><br>
</div>
<br><br>