<div id= "right_box">
<h1>Welcome the Admin Panel</h1>
<h2>Please Login Below:</h2>
<%= link_to "Enter the Admin Panel", events_path %>

<%= form_for(:events, :url => "http://localhost:3000/events") do |f| %>

<div>
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>
<div>
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div>
	<%= f.submit "Login" %>
</div>

<% end %>
</div>