<%= form_for(@newsletter_st_micahels_gfc) do |f| %>
  <% if @newsletter_st_micahels_gfc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter_st_micahels_gfc.errors.count, "error") %> prohibited this newsletter_st_micahels_gfc from being saved:</h2>

      <ul>
      <% @newsletter_st_micahels_gfc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
