<div id= "right_box">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @newsletter_st_micahels_gfc.title %>
</p>

<p>
  <b>Content:</b>
  <%= @newsletter_st_micahels_gfc.content %>
</p>

<p>
  <b>Date:</b>
  <%= @newsletter_st_micahels_gfc.date %>
</p>

<%= link_to 'Back', newsletter_st_micahels_gfcs_path %>

<br><br>
</div>
<br><br>
