<!DOCTYPE html>
<html>
<head>
  <title>StMichaelsGFC</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>

  <% end %>


</div>
  <div class= "container">
    <header>
    <div class="navbar">
      <div class= "button"><a href= "stmichaelsgfc">News</a></div>
      <div class= "button"><a href= "club_history">Club History</a></div>
      <div class= "button"><a href= "fixtures">Fixtures</a></div>
      <div class= "button"><a href= "newsletter_st_micahels_gfcs">Newsletter</a></div>
      <div class= "button"><a href= "players_profiles">Teams</a></div>
      <div class= "button"><a href= "photos">Photo's</a></div>
      <div class= "button"><a href= "pitch_bookings/new">Bookings</a></div>
         <div class= "button"><a href= "log_in">Log In
         
         </a></div>
   </div>
      <%= image_tag("logo.jpg", :alt => "St Michaels GFC", :class => "round")%>
    </header>

    	<div id= "left_box"> <h1> 

<!-- include jQuery library -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<!-- include Cycle plugin -->
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('.slideshow1').cycle({
    fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, fade looks best
  });
});
</script>




 


  <div class="slideshow1">
  <%= image_tag("logo_mace.jpg", :alt => "Mace")%>
  <%= image_tag("logo_painter.jpg", :alt => "Painter")%>
  <%= image_tag("logo_lynches.jpg", :alt => "lynches")%></h1>
  <br><br><br><br><br>
  <h2>stmichaelsgfc2013@gmail.com
  <br><br>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/stmichaels.gfc?hc_location=stream" data-send="false" data-layout="button_count" data-width="500" data-show-faces="true" data-font="verdana"></div>
 <br><br> <a href= "http://localhost:3000/sign_up_newsletters/new">Receive a Monthly Newsletter</a>
  </h2>
  </div>

  
    
    
    <%= yield %>
    </div>
    <br><br><br>
 <br><br>
</body>
</html>